$base-line-height: 24px;
$base-font-size: 16px;

$margin-top: $base-line-height;
$margin-right: 24px;
$margin-bottom: $base-line-height - $base-font-size;
$margin-left: 24px;
$margin: $margin-top $margin-right $margin-bottom $margin-left;
