@import '../../styles/spacing';

.search-bar {
  position: relative;
  margin-bottom: $margin-bottom;

  input[type="text"] {
    width: 100%;
  }
  .icon-waiting {
    position: absolute;
    top: ($base-line-height - $base-font-size) / 2;
    right: $margin-right;
    width: $base-line-height;
    height: $base-line-height;
    background: red;
    border-radius: 100px;
  }
}
